* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: lightblue;
    color: black;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    text-decoration: none;
    margin-left: 25px;
}

a {
    color: black;
    text-decoration: none;
}

.head-img {
    margin-bottom: 50px;
    height: 250px;
    width: 100%;
    background-image: url("./images/02-hero-bg.jpg");
    display: flex;
    justify-content: right;
    align-items: flex-end;
    
}



.head-img h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 40px;
    padding: 10px;
    margin-bottom: 40px;
    background-color: lightblue;
    
}


.about-me {
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 100px;
    width: 100%;
    display: flex;
    
}

.about-me h1 {
    padding-right: 100px;
    width: 300px;
    height: 100%;
    white-space: nowrap;
    
}

.about-me-text {
    width: 1300px;
    text-indent: 0px;
    border-width: 5px;
    border-left-style: solid;
    padding-left: 50px;
    font-size: 20px;
    text-indent: 25px;
}

.work {

    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 220px;
    display: flex;
    
}

.work h1 {

    border-right: black solid;
    border-width: 5px;
    padding-right: 35px;
    height: 520px;
}

.grid {
    
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    column-gap: 20px;
    row-gap: 20px;
    width: 75%;
    margin-left: 50px;
    height: 500px;
}

.cell1 {
    
    border: black solid;
    background-image: url(./images/02-portfolio-1.jpg);
    grid-row: 1 / 1;
    grid-column: 1 / 3;
}

.cell1 h3 {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    margin-top: 180px;
    margin-right: 815px;
    background-color: #ffffff;
    padding: 1px;
    
}

.cell2 {
    border: black solid;
    background-image: url(./images/02-portfolio-2.jpg);
}

.cell2 h3 {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    margin-top: 180px;
    margin-right: 350px;
    padding: 1px;
    background-color: #ffffff;
}

.cell3 {
    border: black solid;
    background-image: url(./images/02-portfolio-4.jpg)
}

.cell3 h3 {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    margin-top: 180px;
    margin-right: 350px;
    padding: 1px;
    background-color: #ffffff;
}


.contact {
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin-top: 20px;
    padding-left: 155px;
    display: flex;
    
}

.contact h1 {
    border-right: black solid;
    border-width: 5px;
    padding-right: 35px;
    height: 50px;
}

.contact nav {
    margin-left: 25px;
    padding-top: 15px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;

}

.contact nav ul {
    list-style-type: none;
}

.contact nav ul li {
    display: inline-block;
    text-decoration: none;
    margin-left: 25px;
    
}