* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffffff;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: lightblue;
    color: black;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    text-decoration: none;
    margin-left: 25px;
}

a {
    color: black;
    text-decoration: none;
}

.below {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/02-hero-bg.jpg");
    background-size: cover;
    background-position: center;
}

.below h1 {
    
    text-align: right;

}

.secttitles {
    margin-top: 30px;
    margin-left: 30px;
}