* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffffff;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: lightblue;
    color: black;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    text-decoration: none;
    margin-left: 25px;
}

a {
    color: black;
    text-decoration: none;
}

.about {
margin: 30px;
}